<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.buc.ysc.common.menu.mapper.MenuMapper">
    <select id="getBottomMenuList" resultType="com.buc.ysc.common.menu.vo.MenuVO">
        SELECT m.menu_id AS "menuId"
             , m.menu_nm AS "menuName"
             , m.ico_nm AS "iconName"
             , p.pgm_cd AS "programCode"
             , p.pgm_url AS "programUrl"
          FROM ysc.menu_mng m
          JOIN ysc.pgm_mng p
            ON p.pgm_cd = m.pgm_cd
         WHERE m.menu_lvl = 1
           AND m.menu_typ = 'TAB'
           AND m.use_yn = 'Y'
           AND p.use_yn = 'Y'
         ORDER BY m.sort_ord, m.menu_id
    </select>

    <select id="getAllMenuList" resultType="com.buc.ysc.common.menu.vo.MenuVO">
        SELECT m.menu_id AS "menuId"
             , m.menu_nm AS "menuName"
             , m.up_menu_id AS "upperMenuId"
             , m.menu_lvl AS "menuLevel"
             , m.sort_ord AS "sortOrder"
             , m.menu_typ AS "menuType"
             , m.ico_nm AS "iconName"
             , p.pgm_cd AS "programCode"
             , p.pgm_url AS "programUrl"
          FROM ysc.menu_mng m
          LEFT JOIN ysc.pgm_mng p
            ON p.pgm_cd = m.pgm_cd
           AND p.use_yn = 'Y'
         WHERE m.use_yn = 'Y'
         ORDER BY m.sort_ord, m.menu_lvl, m.menu_id
    </select>
</mapper>
